<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <title>GrandPy Bot</title>
  <link <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='img/old-man.png') }}" />
</head>

<body>
  <div class="container gp_header">
    <header class="page-header row">
      <div>
        <h1> GrandPy Bot <i class="em em-robot_face"></i><i class="em em-older_man"></i>
          <h1>
            <p>Découvrez le monde avec GrandpPy Bot le papy-robot!</p>
      </div>
    </header>
  </div>
  <div class="container gp_body">
    <div class="row">
      <div id="dialog">
      </div>
    </div>
  </div>
  <div class="container gp_form">
    <form class="form-horizontal row">
      <fieldset>

        <!-- Form Name -->
        <legend>Pose une question à Grandpy Bot !</legend>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea"></label>
          <div class="col-md-4">
            <textarea class="form-control" id="question" name="textarea" rows="6"></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4 button_send">
            <button id="ask" name="singlebutton" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign"></span>Envoyer</button>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
  <footer class="container-fluid gp_footer fixed-bottom">
    <div class="row">
      <address>
        <legend class="pdp_legend">Développé par :</legend>
        <p class="pdp">
          Thomas SANTONI <br />
          Projet GitHub : <a href="https://github.com/Vyslon/GPbot" target="_blank">github.com/Vyslon/GPbot</a> <br />
          Profil LinkedIn : <a href="https://www.linkedin.com/in/thomas-santoni-354b8814a/" target="_blank">Thomas SANTONI</a> <br />
          Icon made by <a href="https://www.flaticon.com/authors/twitter" title="Twitter">Twitter</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
      </address>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="../static/js/dialogBox.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=APIKEY&callback=initMap"></script>
</body>

</html>
